<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= film.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= film.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= film.genre %>
  </p>

</div>
